@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700&display=swap');

@import "tailwindcss";


@keyframes anticlockwise-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-anticlockwise {
  animation: anticlockwise-spin 10s linear infinite;
}

