@import "tailwindcss";
@keyframes anticlockwise-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-anticlockwise {
  animation: anticlockwise-spin 10s linear infinite;
}
